@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    outline: none;
    font-family: Roboto;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("./assets/fundocurrency.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.img-two {
    width: 55px;
}

.img-three {
    width: 50px;
}

.painel {
    background-color: #F4F4F4;
    width: 275px;
    border-radius: 16px;
    padding: 16px;
}

.information {
    background: rgba(244, 244, 244, 0.7);
    border: solid 1px;
    border-color: #F4F4F4;
    border-radius: 16px;
    width: 500px;
    height:570px;
    padding: 16px;
}

label {
    color:#777777;
    font-family: Roboto;
    font-weight: 400;
    font-size: 11.2px;
}

select, input {
    width: 100%;
    padding: 8px 3.2px;
    margin-bottom: 8px;
    font-size: 11.2px;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 3.2px;
    border: 1px solid #bbbbbb;
    cursor: pointer;
}

button {
    width: 100%;
    background-color: #000000;
    padding: 8px 0;
    border: none;
    border-radius: 50px;
    margin: 8px 0 24px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 16px;
    gap: 8px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 16px;
    font-weight: 600;
}

.text-one{
    font-size: 11.2px;
    font-weight: 400;
    color: #777777;
    margin-top: 3px;
}

h1 {
    font-size: 27px;
    font-weight: 450;
    font-family: Sekuya;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 15px;
}

b {
    color: rgb(0, 0, 0);
}

.explanation {
    font-size: 12.4px;
    font-weight: 700;
    font-family: Elms Sans;
    color: #000000;
}